:root {
  --main-width: 180px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}


body > * {
  width: var(--main-width);
  margin: 5px;
  text-align: center;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

}